main h1, p{
    text-align: center;
}

main img{
    width: 200px;
    height: 300px;
    padding: 0 30px;
}

main div{
    padding: 20px 0;
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.bg-img{
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    margin: 0 2vh;
    display: flex;
	flex-direction: column; 
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}

/* .char1-1{
    background-image: url("./asset/characters/Aizen.jpg");
    width: 200px;
    height: 200px;
    padding: 0 30px;
    HCI{0hN0oo0o0x63zhc1_f1n4L}
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

