main {
    padding: 2vh 4vw;
}

.sys-img {
    display: flex;
    justify-content: center;
    padding: 2vh 0;
}

.sys-img img {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

main h1, p {
    text-align: center;
}

main p {
    padding-bottom: 2vh;
}

main img {
    width: 80%;
    height: auto;
    padding: 0 2vw;
}

main div {
    padding: 20px 0;
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.bg-img {
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    margin: 0 2vh;
    display: flex;
	flex-direction: column; 
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .tier-1, .tier-2, .tier-3, .tier-4 {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .bg-img {
        margin: 20px 0;
    }
}