* {
    padding: 0;
    margin: 0;
    color: white;
}

* a {
    font-size: 1.3vw;
}

* p {
    text-align: justify;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1vh 4vw;
    align-items: center;
    background-color: #000000;
}

header .nav {
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh 0;
}

header a {
    text-decoration: none;
    padding: 0 1vw;
}

header a:hover {
    color: #ac1b1b;
}

main {
    background-color: #000000;
}

main h1 {
    font-size: 2.4vw;
}

main p {
    font-size: 1.15vw;
}

main .logo img {
    width: 100%;
    height: auto;
}

main .description {
    position: absolute;
    top: 23vh;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

content a {
    text-decoration: none;
    margin: 10px 0;
}

content a:hover {
    text-decoration: underline;
}

content img, content iframe {
    width: 80%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 600px) {
    content .top-content, content .bot-content {
        flex-direction: column;
    }
}

content .top-content, content .bot-content {
    display: flex;
    flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
    padding: 2.5vh;
    align-content: center;
    background-color: #000000;
}    

.about, .character, .system, .game {
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    margin: 0 2vh;
    display: flex;
	flex-direction: column; 
    text-align: center;
    padding-bottom: 2vh;
    font-size: 2vw;
    width: 39vw;
}

.game {
    overflow: auto;
    position: relative;
}

.nav-preview {
    display: flex;
	flex-direction: row;
	justify-content: space-around;
    position: absolute;
    z-index: 100;
    width: 100%;
}

.prev, .next {
    margin-top: 25%;
    cursor: pointer;
    width: 3vw;
    height: 6vh;
}

.prev img, .next img {
    width: 10%;
    height: 8%;
}

.prev {
    margin-left: 1.2vw;
}

.next {
    margin-right: 1.2vw;
}

.game .slider {
    width: 80%;
    height: 90%;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    z-index: 102;
}

.slider img, .slider iframe {
    display: none;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.slider img.active, .slider iframe.active {
    display: inline-block;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 1vh 4vw;
    align-items: center;
    color: white;
    background-color: #000000;
}

footer div {
    padding: 0.5vh 0;
}

footer .contact-us {
    font-weight: bold;
    font-size: 1.5vw;
}

footer a {
    text-decoration: none;
}

footer img {
    width: 2vw;
    padding: 0 1vw;
}