main {
    padding: 6vh 4vw;
}

.sys-img {
    display: flex;
    justify-content: center;
    padding: 6vh 0;
}

.sys-img img {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.sys-req {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 4vw;
}

.sys-req h3 { 
    margin: 1vh 0;
}

.sys-req p {
    font-size: 1vw;
}

.minimum, .recommended {
    margin: 0 1vw;
}